<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /admiflow/

    # Redirigir específicamente para extensiones .html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)\.(html?|php)$ $1.php [NC,L]

    # Permitir acceso a archivos sin extensión específicamente para archivos .php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^([^/]+)/?$ $1.php [L]
</IfModule>
